{% extends "layout.html" %}

{% block content %}
<link href="../static/content/command.css" rel="stylesheet" />

<div id="command" class="list-group">

</div>
<div style="display:none;" id="commandMessages"></div>



{% raw %}
<script id="CommandInfo" type="text/template">
   
    <div><span>Speed</span><input  id="Speed{{_id.$oid}}" type="text" class="Speed" value="{{Speed}}" ></div>
    <div><span>Friendly Name</span><input id="FriendlyName{{_id.$oid}}" type="text" class="FriendlyName" value="{{FriendlyName}}" ></div>
    
    <div><span>Order</span><input  id="Order{{_id.$oid}}" type="text" class="Order" value="{{Order}}" ></div>
    <div><span>Action</span><input  id="Action{{_id.$oid}}" type="text" class="Action" value="{{Action}}"></div>

     
</script>
{% endraw %}
{% raw %}
<script id="CommandButtons" type="text/template">
    
    <div class="btn btn-default" onclick="SaveDetails(this,'{{_id.$oid}}')">
        <i class="fa fa-save fa-lg"></i> Save
    </div>
    <br />
    <div class="btn btn-default" onclick="MoveNow(this,'{{_id.$oid}}')">
        <i class="fa fa-arrow-circle-right fa-lg"></i> Move Now
    </div>
</script>


{% endraw %}




{% endblock %}
 {% block scripts %}
<script src="../static/scripts/command.js"></script>
<script src="../static/scripts/mustach.js"></script>
{% endblock %}

